[preset.0]

script_encryption_key=""

[preset.0.options]

keystore/debug=""
keystore/debug_user=""
keystore/debug_password=""
keystore/release="release"
keystore/release_user="release"
keystore/release_password="$KEYSTORE_PASSWORD"